.map {
  height: 70%;
  width: 100%;
  background-color: #b5d0d0;
}

.half-map {
  float: left;
  height: 500px;
  width: 50%;
  background-color: #b5d0d0;
}

.map-floatleft {
  float: left;
  width: 80%;
  height: 60%;
}

.map-floatright {
  float: right;
  width: 20%;
  height: 60%
}
